body {
background-image:  url("images/bg3.png");
background-color: #000000;
background-repeat: no-repeat;
}

#title{
    font-family: 'New Rocker', bold, cursive;
color: rgb(131, 0, 0);
text-shadow:0 0 7px rgb(230, 162, 73),
0 0 10px #fff,
0 0 21px #fff,
0 0 42px rgb(248, 79, 0),
0 0 82px rgb(248, 79, 0),
0 0 92px rgb(248, 79, 0),
0 0 102px rgb(248, 79, 0),
0 0 151px rgb(248, 79, 0);
font-weight: 900;
font-size: 4.8em;
text-align: center;
}

#title2{
    font-family: 'New Rocker', bold, cursive;
color: rgb(131, 0, 0);
text-shadow:0 0 7px rgb(230, 162, 73),
0 0 10px #fff,
0 0 21px #fff,
0 0 42px rgb(248, 79, 0),
0 0 82px rgb(248, 79, 0),
0 0 92px rgb(248, 79, 0),
0 0 102px rgb(248, 79, 0),
0 0 151px rgb(248, 79, 0);
font-weight: 900;
font-size: 2em;
text-align: center;
}

#title3{
    font-family: 'New Rocker', bold, cursive;
color: rgb(131, 0, 0);
text-shadow:0 0 7px rgb(230, 162, 73),
0 0 10px #fff,
0 0 21px #fff,
0 0 42px rgb(248, 79, 0),
0 0 82px rgb(248, 79, 0),
0 0 92px rgb(248, 79, 0),
0 0 102px rgb(248, 79, 0),
0 0 151px rgb(248, 79, 0);
font-weight: 900;
font-size: 1.3em;
text-align: center;
}


#talkbox{
background-color: rgba(29, 28, 28, 0.356);
color: white;

top: 50%;
left: 40%;
position: absolute;
font-family: 'Expletus Sans', cursive;
}

#haunt{
top: 73%;
right: 5%;
position: absolute;
}